<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.statistic.service.impl.StatisticMapper">

    <!-- 통계 -->
    <select id="statisticListSelect" parameterType="statisticVO" resultType="egovMap">
        SELECT SMELL_VALUE
             , F_GET_CODE_NAME('SMT',A.SMELL_VALUE) SMELL_VALUE_NAME
        <choose>

            <when test="searchGbn.equals('day')">
             , COUNT(SMELL_VALUE)               CNT
             , DATE_FORMAT(REG_DT, '%Y-%m-%d') REG_DT
        FROM tb_smell_register A LEFT JOIN (
                SELECT   USER_ID
                    , USER_REGION_MASTER
                    , USER_REGION_DETAIL
                FROM tb_user ) B ON A.REG_ID = B.USER_ID
       WHERE 1=1
                <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
                    AND B.USER_REGION_MASTER = #{userRegionMaster}
                </if>
                <if test="userRegionDetail != null and !userRegionDetail.equals('')" >
                    AND B.USER_REGION_DETAIL = #{userRegionDetail}
                </if>
         AND DATE_FORMAT(REG_DT, '%Y-%m-%d') BETWEEN #{searchStart} AND #{searchEnd}

       GROUP BY SMELL_VALUE, DATE_FORMAT(REG_DT, '%Y-%m-%d')
       ORDER BY REG_DT, SMELL_VALUE
            </when>
            <when test="searchGbn.equals('month')">
             , COUNT(SMELL_VALUE)            CNT
             , DATE_FORMAT(REG_DT, '%Y-%m') REG_DT

        FROM tb_smell_register A LEFT JOIN (
                SELECT   USER_ID
                , USER_REGION_MASTER
                , USER_REGION_DETAIL
                FROM tb_user ) B ON A.REG_ID = B.USER_ID
       WHERE 1=1
                <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
                    AND B.USER_REGION_MASTER = #{userRegionMaster}
                </if>
                <if test="userRegionDetail != null and !userRegionDetail.equals('')" >
                    AND B.USER_REGION_DETAIL = #{userRegionDetail}
                </if>
         AND DATE_FORMAT(REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
       GROUP BY SMELL_VALUE, DATE_FORMAT(REG_DT, '%Y-%m')
       ORDER BY REG_DT, SMELL_VALUE
            </when>
            <when test="searchGbn.equals('year')">
            , COUNT(SMELL_VALUE)         CNT
            , DATE_FORMAT(REG_DT, '%Y') REG_DT

                FROM tb_smell_register A LEFT JOIN (
                SELECT USER_ID
                , USER_REGION_MASTER
                , USER_REGION_DETAIL
                FROM tb_user ) B ON A.REG_ID = B.USER_ID
       WHERE 1=1
                <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
                    AND B.USER_REGION_MASTER = #{userRegionMaster}
                </if>
                <if test="userRegionDetail != null and !userRegionDetail.equals('')" >
                    AND B.USER_REGION_DETAIL = #{userRegionDetail}
                </if>
         AND DATE_FORMAT(REG_DT, '%Y') BETWEEN #{searchStart} AND #{searchEnd}
     GROUP BY SMELL_VALUE, DATE_FORMAT(REG_DT, '%Y')
     ORDER BY REG_DT, SMELL_VALUE
            </when>
            <otherwise>
             , COUNT(SMELL_VALUE)                            CNT
             , F_GET_CODE_NAME('REN',A.SMELL_REGISTER_TIME) REG_DT
     FROM tb_smell_register A LEFT JOIN (
                SELECT   USER_ID
                , USER_REGION_MASTER
                , USER_REGION_DETAIL
                FROM tb_user ) B ON A.REG_ID = B.USER_ID
    WHERE 1=1
                <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
                    AND B.USER_REGION_MASTER = #{userRegionMaster}
                </if>
                <if test="userRegionDetail != null and !userRegionDetail.equals('')" >
                    AND B.USER_REGION_DETAIL = #{userRegionDetail}
                </if>
      AND DATE_FORMAT(A.REG_DT, '%Y-%m-%d') = DATE_FORMAT(curdate(), '%Y-%m-%d')
      AND A.SMELL_REGISTER_TIME IN(
                #{searchStart}
                <if test='searchStart lt "002" and searchEnd gte "002"' >
                    ,'002'
                </if>
                <if test='searchStart lt "003" and searchEnd gte "003"' >
                    ,'003'
                </if>
                <if test='searchStart lt "004" and searchEnd gte "004"' >
                    ,'004'
                </if>
                )
      GROUP BY SMELL_VALUE, A.SMELL_REGISTER_TIME
      ORDER BY A.SMELL_REGISTER_TIME, SMELL_VALUE
            </otherwise>
        </choose>
    </select>

    <!-- 통계 표 모든 지역 -->
    <select id="statisticTableAllSelect" parameterType="statisticTableVO" resultType="egovMap">
        SELECT *,
               ROUND(IFNull(result.userRegisterCount/result.userTotalCount*100,0),2) userRegisterPercentage,
               IFNull(F_GET_CODE_NAME('SMT', result.mainSmellValue),'')              mainSmellValueName,
               IFNULL(F_GET_CODE_NAME('STY',result.mainSmellType),'')                mainSmellTypeName,
               #{smellRegisterTime}                                                  smellRegisterTime,
               ifNull(F_GET_CODE_NAME('REN',#{smellRegisterTime}),'')                smellRegisterTimeName
        FROM (
            SELECT (
            SELECT
                <choose>
                    <when test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                        COUNT(*) * (DATEDIFF(LAST_DAY(CONCAT(#{searchEnd}, '-01')), CONCAT(#{searchStart}, '-01')) + 1)
                    </when>
                    <otherwise>
                        COUNT(*) * 3 * (DATEDIFF(LAST_DAY(CONCAT(#{searchEnd}, '-01')), CONCAT(#{searchStart}, '-01')) + 1)
                    </otherwise>
                </choose>
                FROM tb_user
            )        userTotalCount,
            COUNT(*) userRegisterCount,
            ifNull((
                SELECT SMELL_VALUE
                FROM tb_smell_register
                WHERE 1 = 1
                AND SMELL_VALUE != '001'
                AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
                GROUP BY tb_smell_register.SMELL_VALUE
                ORDER BY COUNT(SMELL_VALUE) DESC LIMIT 1
            ),'') mainSmellValue,
            ifNull((
                SELECT SMELL_TYPE
                FROM tb_smell_register
                WHERE 1 = 1
                AND SMELL_TYPE != '008'
                AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
                GROUP BY tb_smell_register.SMELL_TYPE
                ORDER BY COUNT(SMELL_TYPE) DESC LIMIT 1
            ),'') mainSmellType
            FROM tb_smell_register
            WHERE 1 = 1
            AND DATE_FORMAT(REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
        <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
            AND SMELL_REGISTER_TIME = #{smellRegisterTime}
        </if>
     ) result
    </select>

    <!-- 통계 표 지역별 -->
    <select id="statisticTableRegionListSelect" parameterType="statisticTableVO" resultType="egovMap">
        SELECT *,
               ROUND(ifNull(result.userRegisterCount/result.userTotalCount*100,0),2) userRegisterPercentage,
               ifNull(F_GET_CODE_NAME('SMT', result.mainSmellValue),'')              mainSmellValueName,
               IFNULL(F_GET_CODE_NAME('STY',result.mainSmellType),'')                mainSmellTypeName,
               #{smellRegisterTime}                                                  smellRegisterTime,
               ifNull(F_GET_CODE_NAME('REN',#{smellRegisterTime}),'')                smellRegisterTimeName
        FROM(
            SELECT a.REFERENCE_CODE_ID            userRegionMaster,
                   a.CODE_ID                      userRegionDetail,
                   a.USER_REGION_MASTER_NAME      userRegionMasterName,
                   a.USER_REGION_DETAIL_NAME      userRegionDetailName,
                   (
                        SELECT
                        <choose>
                            <when test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                                COUNT(*) * (DATEDIFF(LAST_DAY(CONCAT(#{searchEnd}, '-01')), CONCAT(#{searchStart}, '-01')) + 1)
                            </when>
                            <otherwise>
                                COUNT(*) * 3 * (DATEDIFF(LAST_DAY(CONCAT(#{searchEnd}, '-01')), CONCAT(#{searchStart}, '-01')) + 1)
                            </otherwise>
                        </choose>
                        FROM tb_user
                        WHERE USER_REGION_MASTER = a.REFERENCE_CODE_ID
                        AND USER_REGION_DETAIL = a.CODE_ID
                   ) userTotalCount,
                   ifnull(b.USER_REGIST_COUNT, 0) userRegisterCount,
                   ifNull((
                        SELECT SMELL_VALUE
                        FROM tb_smell_register, tb_user
                        WHERE 1 = 1
                        AND tb_smell_register.SMELL_VALUE != '001'
                        AND tb_smell_register.REG_ID = tb_user.USER_ID
                        AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
                        <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                            AND tb_smell_register.SMELL_REGISTER_TIME = #{smellRegisterTime}
                        </if>
                        AND tb_user.USER_REGION_MASTER = a.REFERENCE_CODE_ID
                        AND tb_user.USER_REGION_DETAIL = a.CODE_ID
                        GROUP BY tb_smell_register.SMELL_VALUE
                        ORDER BY COUNT(SMELL_VALUE) DESC LIMIT 1
                    ),'') mainSmellValue,
                    ifNull((
                        SELECT SMELL_TYPE
                        FROM tb_smell_register,tb_user
                        WHERE 1 = 1
                        AND tb_smell_register.SMELL_TYPE != '008'
                        AND tb_smell_register.REG_ID = tb_user.USER_ID
                        AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
                        <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                            AND tb_smell_register.SMELL_REGISTER_TIME = #{smellRegisterTime}
                        </if>
                        AND tb_user.USER_REGION_MASTER = a.REFERENCE_CODE_ID
                        AND tb_user.USER_REGION_DETAIL = a.CODE_ID
                        GROUP BY tb_smell_register.SMELL_TYPE
                        ORDER BY COUNT(SMELL_TYPE) DESC LIMIT 1
                    ),'') mainSmellType
            FROM (
                SELECT REFERENCE_CODE_ID,
                       CODE_ID,
                       (
                        SELECT CODE_ID_NAME
                        FROM tb_code
                        WHERE CODE_GROUP = 'REM' AND CODE_ID = tbCode.REFERENCE_CODE_ID
                        ) USER_REGION_MASTER_NAME,
                        CODE_ID_NAME USER_REGION_DETAIL_NAME
                FROM tb_code tbCode
                WHERE CODE_GROUP = 'RGD') a
            left outer join (
                SELECT tb_user.USER_REGION_MASTER,
                       tb_user.USER_REGION_DETAIL,
                       COUNT(*) USER_REGIST_COUNT
                FROM tb_smell_register,
                     tb_user
                WHERE 1 = 1
                AND tb_smell_register.REG_ID = tb_user.USER_ID
                AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}

                <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                    AND tb_smell_register.SMELL_REGISTER_TIME = #{smellRegisterTime}
                </if>
                GROUP BY tb_user.USER_REGION_MASTER, tb_user.USER_REGION_DETAIL
            ) b
            ON a.REFERENCE_CODE_ID = b.USER_REGION_MASTER
            AND a.CODE_ID = b.USER_REGION_DETAIL
        ) result
        ORDER BY result.userRegionMaster, result.userRegionDetail
    </select>
    <!-- 통계 표 지역별 (단건, API용) -->
    <select id="statisticTableRegionSelect" parameterType="statisticTableVO" resultType="egovMap">
        SELECT *,
               #{userRegionMaster}                                                    userRegionMaster,
               IFNull(F_GET_CODE_NAME('REM', #{userRegionMaster}),'')                 userRegionMasterName,
               #{userRegionDetail}                                                    userRegionDetail,
               IFNull(F_GET_CODE_NAME('RGD', #{userRegionDetail}),'')                 userRegionDetailName,
               ROUND(IFNull(result.userRegisterCount/result.userTotalCount*100,0), 2) userRegisterPercentage,
               IFNull(F_GET_CODE_NAME('SMT', result.mainSmellValue),'')               mainSmellValueName,
               IFNULL(F_GET_CODE_NAME('STY',result.mainSmellType),'')                 mainSmellTypeName,
               #{smellRegisterTime}                                                   smellRegisterTime,
               ifNull(F_GET_CODE_NAME('REN',#{smellRegisterTime}),'')                 smellRegisterTimeName
        FROM (
            SELECT (
            SELECT
        <choose>
            <when test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                COUNT(*) * (DATEDIFF(LAST_DAY(CONCAT(#{searchEnd}, '-01')), CONCAT(#{searchStart}, '-01')) + 1)
            </when>
            <otherwise>
                COUNT(*) * 3 * (DATEDIFF(LAST_DAY(CONCAT(#{searchEnd}, '-01')), CONCAT(#{searchStart}, '-01')) + 1)
            </otherwise>
        </choose>
                FROM tb_user
                WHERE USER_REGION_MASTER    = #{userRegionMaster}
                AND USER_REGION_DETAIL      = #{userRegionDetail}
            )        userTotalCount,
            COUNT(*) userRegisterCount,
            ifNull((
                SELECT SMELL_VALUE
                FROM tb_smell_register, tb_user
                WHERE 1 = 1
                AND tb_smell_register.SMELL_VALUE != '001'
                AND tb_smell_register.REG_ID = tb_user.USER_ID
                AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m')  BETWEEN #{searchStart} AND #{searchEnd}
                AND tb_user.USER_REGION_MASTER = #{userRegionMaster}
                AND tb_user.USER_REGION_DETAIL = #{userRegionDetail}
        <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                AND tb_smell_register.SMELL_REGISTER_TIME = #{smellRegisterTime}
        </if>
                GROUP BY tb_smell_register.SMELL_VALUE
                ORDER BY COUNT(SMELL_VALUE) DESC LIMIT 1
            ),'') mainSmellValue,
            ifNull((
                SELECT SMELL_TYPE
                FROM tb_smell_register, tb_user
                WHERE 1 = 1
                AND tb_smell_register.SMELL_TYPE != '008'
                AND tb_smell_register.REG_ID = tb_user.USER_ID
                AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m')  BETWEEN #{searchStart} AND #{searchEnd}
                AND tb_user.USER_REGION_MASTER = #{userRegionMaster}
                AND tb_user.USER_REGION_DETAIL = #{userRegionDetail}
        <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
                AND tb_smell_register.SMELL_REGISTER_TIME = #{smellRegisterTime}
        </if>
                GROUP BY tb_smell_register.SMELL_TYPE
                ORDER BY COUNT(SMELL_TYPE) DESC LIMIT 1
            ),'') mainSmellType
            FROM tb_smell_register, tb_user
            WHERE 1 = 1
            AND tb_smell_register.REG_ID = tb_user.USER_ID
            AND DATE_FORMAT(tb_smell_register.REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}
            AND tb_user.USER_REGION_MASTER = #{userRegionMaster}
            AND tb_user.USER_REGION_DETAIL = #{userRegionDetail}
        <if test="smellRegisterTime != null and !smellRegisterTime.equals('')" >
            AND SMELL_REGISTER_TIME = #{smellRegisterTime}
        </if>
     ) result
    </select>
</mapper>