<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.statistic.service.impl.StatisticMapper">

    <!-- 통계 -->
    <select id="statisticListSelect" parameterType="statisticVO" resultType="egovMap">

        SELECT SMELL_TYPE
             , F_GET_CODE_NAME('SMT',A.SMELL_TYPE) SMELL_TYPE_NAME
        <choose>

            <when test="regId.equals('day')">
             , COUNT(SMELL_TYPE)               CNT
             , DATE_FORMAT(REG_DT, '%Y-%m-%d') REG_DT

          FROM TB_SMELL_REGISTER AS A

         WHERE 1=1

           AND DATE_FORMAT(REG_DT, '%Y-%m-%d') BETWEEN #{searchStart} AND #{searchEnd}

      GROUP BY SMELL_TYPE, DATE_FORMAT(REG_DT, '%Y-%m-%d')

      ORDER BY REG_DT, SMELL_TYPE
            </when>

            <when test="regId.equals('month')">
             , COUNT(SMELL_TYPE)            CNT
             , DATE_FORMAT(REG_DT, '%Y-%m') REG_DT

          FROM TB_SMELL_REGISTER AS A

         WHERE 1=1

           AND DATE_FORMAT(REG_DT, '%Y-%m') BETWEEN #{searchStart} AND #{searchEnd}

      GROUP BY SMELL_TYPE, DATE_FORMAT(REG_DT, '%Y-%m')

      ORDER BY REG_DT, SMELL_TYPE

            </when>

            <when test="regId.equals('year')">
            , COUNT(SMELL_TYPE)         CNT
            , DATE_FORMAT(REG_DT, '%Y') REG_DT

         FROM TB_SMELL_REGISTER AS A

        WHERE 1=1

          AND DATE_FORMAT(REG_DT, '%Y') BETWEEN #{searchStart} AND #{searchEnd}

     GROUP BY SMELL_TYPE, DATE_FORMAT(REG_DT, '%Y')

     ORDER BY REG_DT, SMELL_TYPE
            </when>

            <otherwise>
             , COUNT(SMELL_TYPE)                            CNT
             , F_GET_CODE_NAME('REN',A.SMELL_REGISTER_TIME) SMELL_REGISTER_NAME

          FROM TB_SMELL_REGISTER AS A

         WHERE 1=1

           AND A.SMELL_REGISTER_TIME IN(#{searchStart})

      GROUP BY SMELL_TYPE, A.SMELL_REGISTER_TIME

      ORDER BY A.SMELL_REGISTER_TIME, SMELL_TYPE
            </otherwise>

        </choose>

    </select>

</mapper>