<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.main.service.impl.MainMapper">

    <!-- PC 메인 목록-->
    <select id="pcMainListSelect" parameterType="mainVO" resultType="egovMap">

    SELECT ANY_VALUE(tsr.SMELL_REGISTER_NO)                       SMELL_REGISTER_NO
         , ANY_VALUE(tsr.SMELL_TYPE)                              SMELL_TYPE
         , ANY_VALUE(F_GET_CODE_NAME('STY',SMELL_TYPE))           SMELL_TYPE_NAME
         , ANY_VALUE(tsr.SMELL_VALUE)                             SMELL_VALUE
         , ANY_VALUE(F_GET_CODE_NAME('SMT',SMELL_VALUE))          SMELL_VALUE_NAME
         , ANY_VALUE(tsr.WEATHER_STATE)                           WEATHER_STATE
         , ANY_VALUE(F_GET_CODE_NAME('WET',WEATHER_STATE))        WEATHER_STATE_NAME
         , ANY_VALUE(tsr.TEMPERATURE_VALUE)                       TEMPERATURE_VALUE
         , ANY_VALUE(tsr.HUMIDITY_VALUE)                          HUMIDITY_VALUE
         , ANY_VALUE(tsr.WIND_DIRECTION_VALUE)                    WIND_DIRECTION_VALUE
         , ANY_VALUE(F_GET_CODE_NAME('WND',WEATHER_STATE))        WIND_DIRECTION_VALUE_NAME
         , ANY_VALUE(tsr.WIND_SPEED_VALUE)                        WIND_SPEED_VALUE
         , ANY_VALUE(tsr.GPS_X)                                   GPS_X
         , ANY_VALUE(tsr.GPS_Y)                                   GPS_Y
         , ANY_VALUE(tsr.SMELL_COMMENT)                           SMELL_COMMENT
         , ANY_VALUE(tsr.SMELL_REGISTER_TIME)                     SMELL_REGISTER_TIME
         , ANY_VALUE(F_GET_CODE_NAME('REN',SMELL_REGISTER_TIME))  SMELL_REGISTER_TIME_NAME
         , tsr.REG_ID                                             REG_ID
         , tu.USER_NAME                                           USER_NAME
         , DATE_FORMAT(tsr.REG_DT,'%Y-%m-%d %H:%i:%S')            REG_DT
      FROM ( SELECT * FROM ( SELECT * FROM tb_smell_register ORDER BY tb_smell_register.REG_DT DESC LIMIT 18446744073709551615 ) AS tb_smell_register GROUP BY tb_smell_register.REG_ID) tsr INNER JOIN tb_user tu on tsr.REG_ID = tu.USER_ID

    </select>

    <!-- PC 메인 조건 검색 목록-->
    <select id="pcMainListFindByMember" parameterType="mainSearchVo" resultType="egovMap">
        SELECT ANY_VALUE(tsr.SMELL_REGISTER_NO)                       SMELL_REGISTER_NO
        , ANY_VALUE(tsr.SMELL_TYPE)                              SMELL_TYPE
        , ANY_VALUE(F_GET_CODE_NAME('STY',SMELL_TYPE))           SMELL_TYPE_NAME
        , ANY_VALUE(tsr.SMELL_VALUE)                             SMELL_VALUE
        , ANY_VALUE(F_GET_CODE_NAME('SMT',SMELL_VALUE))          SMELL_VALUE_NAME
        , ANY_VALUE(tsr.WEATHER_STATE)                           WEATHER_STATE
        , ANY_VALUE(F_GET_CODE_NAME('WET',WEATHER_STATE))        WEATHER_STATE_NAME
        , ANY_VALUE(tsr.TEMPERATURE_VALUE)                       TEMPERATURE_VALUE
        , ANY_VALUE(tsr.HUMIDITY_VALUE)                          HUMIDITY_VALUE
        , ANY_VALUE(tsr.WIND_DIRECTION_VALUE)                    WIND_DIRECTION_VALUE
        , ANY_VALUE(F_GET_CODE_NAME('WND',WEATHER_STATE))        WIND_DIRECTION_VALUE_NAME
        , ANY_VALUE(tsr.WIND_SPEED_VALUE)                        WIND_SPEED_VALUE
        , ANY_VALUE(tsr.GPS_X)                                   GPS_X
        , ANY_VALUE(tsr.GPS_Y)                                   GPS_Y
        , ANY_VALUE(tsr.SMELL_COMMENT)                           SMELL_COMMENT
        , ANY_VALUE(tsr.SMELL_REGISTER_TIME)                     SMELL_REGISTER_TIME
        , ANY_VALUE(F_GET_CODE_NAME('REN',SMELL_REGISTER_TIME))  SMELL_REGISTER_TIME_NAME
        , tsr.REG_ID                                             REG_ID
        , tu.USER_NAME                                           USER_NAME
        , DATE_FORMAT(tsr.REG_DT,'%Y-%m-%d %H:%i:%S')            REG_DT
        FROM ( SELECT * FROM ( SELECT * FROM tb_smell_register ORDER BY tb_smell_register.REG_DT DESC LIMIT 18446744073709551615 ) AS tb_smell_register GROUP BY tb_smell_register.REG_ID) tsr INNER JOIN tb_user tu on tsr.REG_ID = tu.USER_ID
        WHERE 1 = 1
        <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
        AND tu.USER_REGION_MASTER = #{userRegionMaster}
        </if>
        <if test="smellType != null and !smellType.equals('')" >
            AND tsr.SMELL_TYPE = #{smellType}
        </if>
        <if test="smellValue != null and !smellValue.equals('')" >
            AND tsr.SMELL_VALUE = #{smellValue}
        </if>
        <if test="startDate != null and !startDate.equals('') or endDate != null and !endDate.equals('') ">
            AND tsr.REG_DT  <![CDATA[ >= ]]> #{startDate} AND tsr.REG_DT <![CDATA[ < ]]> #{endDate}
        </if>
    </select>

    <!-- 코드 목록-->
    <select id="codeListSelect" parameterType="mainVO" resultType="egovMap">

        SELECT CODE_GROUP
             , CODE_GROUP_NAME
             , CODE_ID
             , CODE_ID_NAME
             , CODE_COMMENT

          FROM tb_code

         WHERE 1=1

           AND CODE_GROUP = #{codeGroup}

        <if test="referenceCodeGroup != null and !referenceCodeGroup.equals('')" >
            AND REFERENCE_CODE_GROUP = #{referenceCodeGroup}
        </if>

        <if test="referenceCodeId != null and !referenceCodeId.equals('')" >
            AND REFERENCE_CODE_ID = #{referenceCodeId}
        </if>

    </select>

    <!-- 모바일 기상청 데이터를 위한 X,Y-->
    <select id="getUserWeather" parameterType="string" resultType="egovMap">

        SELECT ADDRESS_X
             , ADDRESS_Y

          FROM tb_address

         WHERE 1=1

           AND ADDRESS_DEPTH3 = #{userRegion}

    </select>




</mapper>