*{
    font-family: 'NanumSquare', serif !important;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;

}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*td,*/
/*th {*/
/*    width: 100px;*/
/*    padding: 0;*/
/*}*/

select , textarea ,input[type=text], input[type=textarea], input[type=password] , input[type=date] {
    border: 1px solid #ccc;
    height: 38px;
    border-radius: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select, input[type=date] {
    padding: 0 10px 0 10px;
}
input[type=text] , input[type=password], input[type=textarea], textarea {
    padding: 0 10px 0 10px;
}
textarea {
    padding: 10px 10px 0 10px;
}
input[type=password] {
    font-family: 'password' !important;
}
input[type=date] {
    background: url("../image/calendar2.png") no-repeat 98% 50%;
}
.xCircleBx{
    color: red;
}
.checkBx{
    color: green;
}
select {
    background: url("../image/sort.png") no-repeat 98% 50%;
}
select::-ms-expand{
    display: none;
}
.button {
    cursor: pointer;
}
.button{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    background: #555;
    color: #fff;
    line-height: 38px;
    border-radius: 7px;
    padding: 0 20px;
    margin-right : 10px;
    margin-top : 5px;
    margin-bottom : 5px;
}
.button:hover {
    background: #999;
}
.button > i {
    line-height: inherit;
}
.subButton{
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
    color: #999;
    line-height: 34px;
    border-radius: 7px;
    padding: 0 10px;
    margin-right : 5px;
    margin-top : 5px;
    margin-bottom : 5px;
    border: 1px #999 solid;
    background: #fff;
}
.bgcDeepBlue {
    background-color: #10639a;
}
.bgcDeepRed {
    background-color: #c0392b;
}
.bgcSkyBlue {
    background-color: #61ade1;
}
.bgcLightSkyBlue {
    background-color: #d9efff;
}
.bgcLightGreen {
    background-color: #2ecc71;
}
.bgcYellow {
    background-color: #fff800;
}
.bgcWhite {
    background-color: #e0e0e0;
}
.bgcOrange {
    background-color: #f39c12;
}
.mainMenu {
    border-bottom: 3px #10639a solid;
    background: #fff;
    background-size: 80px;
    min-width: 1600px;
}
.mainMenu > strong {
    position: relative;
    left: 110px;
    top: 52px;
    font-size: 24px;
    cursor : pointer;
}
.subMenu {
    border-bottom: 1px #10639a solid;
    min-width: 1600px;
    height: 40px;
    background: #fff;
}
.subMenu > a, .dropdown , .dropbtn > a {
    background: #fff;
    line-height: 40px;
    height: 100%;
    width : 150px;
    text-align: center;
    font-weight: bold;
    float: left;
    cursor: pointer;
}
.dropdown-content > a {
    font-weight: normal;
}
.subMenu > a:hover, .selectMenu, .dropdown:hover , .dropbtn > a:hover{
    background: #10639a !important;
    color: #fff
}
.searchTable {
    width: 100%;
    height: 60px;
    border-bottom: 1px #10639a solid;
    min-width: 1600px;
    font-size: 14px;
}
.searchTable > tbody > tr > th {
    background: #d9efff;
    /*width: 70px;*/
}
.searchTable > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}
.blueForm {
    border: 2px #10639a solid;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.blueForm > tbody > tr> th {
    background: #10639a;
    color: #fff;
    height: 40px;
}
.blueForm > tbody > tr> td {
    height: 60px;
    font-size: 15px;
    background: #fff;
}
.blueForm > tbody > tr> td  input {
    width: 86%;
}
.blueForm > tbody > tr> td  select {
    width: 91%;
}
.whiteForm{
    border: 1px white solid;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow : 0px 0px 20px #000;
}
.whiteForm > tbody > tr> th {
    background: white;
    color: #fff;
    height: 15px;
}
.whiteForm > tbody > tr> td {
    height: 60px;
    font-size: 15px;
    background: #fff;
}
.whiteForm > tbody > tr> td  input {
    width: 85%;
}
.whiteForm > tbody > tr> td  select {
    width: 93%;
}
.scrollView{
    height: 80%;
    overflow: auto;
}
.titleIcon {
    background: url("../image/icon.png");
    background-size: 80px;
    cursor: pointer;
}
#lostPassword {
    color : #555;
    text-decoration: underline;
    cursor: pointer;
    font-size:12px;
}
.brDeepBlue{
    border-right: 1px #10639a solid;
}
.viewTable{
    margin: 3% auto 1% auto;
    text-align: center;
    width: 95%;
    height: 480px!important;
}
.viewTable th{
    height: 40px;
    background: #eaeaea;
    border: 1px solid #ccc;
    border-top: 2px solid black;
    font-weight: bold;
}
.viewTable tr:last-child{
    border-bottom: 2px solid black;
}
.viewTable tr:hover{
    background-color: rgb(217,239,255);
}
.viewTable td{
    border: 1px solid #ccc;
    height: 40px;
}
.statisticTable{
    margin: 1% auto 3% auto;
    text-align: center;
    width: 95%;
    height: 480px!important;
    border: 2px solid #888;
    font-size: 13px;
}
.statisticTable th{
    height: 40px;
    background: #eaeaea;
    border: 1px solid #ccc;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    font-weight: bold;
}
.statisticTable tr:hover{
    background-color: rgb(217,239,255);
}
.statisticTable td{
    border: 1px solid #ccc;
    height: 40px;
}
.statisticTableVerticalTh {
    border-right: 2px solid #888 !important;
}
.statisticTableLabel {
    margin-left : 3%;
}
.mainForm th {
    background-color: #61ade1;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid #10639a;
}
.mainForm table th{
    border: none;
    background-color: #d9efff;
    font-weight: normal;
    width: 60px;
}
.mainForm table td {
    padding-left: 10px;
}
.secondViewTable {
    margin: 5% auto 5% auto;
    text-align: center;
}
.secondViewTable th{
    height: 30px;
    background: #eaeaea;
    border: 2px solid #ccc;
    font-weight: bold;
}

.secondViewTable td{
    border: 1px solid #ccc;
    height: 30px;
    width: 50px;
    overflow:hidden;
    text-overflow:ellipsis;
    WORD-BREAK:break-all;
}
.conditionTitle {
    font-weight: bold;
}
.mapLegend{
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    margin-top: 10px;
    margin-left:10px;
    float: left;
}
.mapLegendSmall{
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    margin-top: 20px;
    margin-left:3px;
    float: left;
}
.mapLegendLabel{
    float:left;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    font-size: 14px;
}
.mapLegendLabelSmall{
    float:left;
    height: 20px;
    margin-top: 22px;
    margin-left: 3px;
    font-size: 12px;
}
.mDateTimeInput{
    width: 137px;
}
.borderRight{
    border-right: 1px solid #10639a;
}
.loaderContainer{
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 20;
    position: fixed;
    opacity: 0.7;
    top: 0px;
    left:0px;
}
.loaderBox{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -120px;
    margin-left: -60px;
    margin-top: -60px;

}
.loaderContent{
    position: absolute;
    border: 8px solid #10639a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: calc(50% - 55px);
    top: calc(50% - 55px);
    border-top-color: transparent;
    -webkit-animation: loader-1-inner 1.3s cubic-bezier(.58, .58, .58, .58) infinite;
    animation: loader-1-inner 1.3s cubic-bezier(.58, .58, .58, .58) infinite;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    max-height: 40px;
    border-top: 1px #ddd solid;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: white;
}
.selectDropMenu{
    background-color: #ddd;
    color: white;
}

.dropdown:hover .dropdown-content {display: block;}
