<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.join.service.impl.JoinMapper">

    <!-- 회원가입-->
    <insert id="userJoinInsert" parameterType="joinVO">

        INSERT INTO tb_user (
                                USER_ID
                                , USER_PASSWORD
                                , USER_TYPE
                                , USER_NAME
                                , USER_SEX
                                , USER_PHONE
                             )
                     VALUES (
                                #{userId}
                                , password(#{userPassword})
                                , #{userType}                                                                            <!-- WEB 회원가입은 관리자만-->
                                , #{userName}
                                , #{userSex}
                                , replace(#{userPhone},'-','')
                             )

    </insert>

    <!-- 로그인-->
    <select id="userLoginSelect" parameterType="joinVO" resultType="egovMap">

        SELECT USER_ID
             , USER_TYPE
             , F_GET_CODE_NAME('UST',USER_TYPE) USER_TYPE_NAME
             , USER_NAME
             , USER_REGION_MASTER
             , USER_REGION_DETAIL
             , F_GET_CODE_NAME('REM',USER_REGION_MASTER) USER_REGION_MASTER_NAME
             , F_GET_CODE_NAME('RGD',USER_REGION_DETAIL) USER_REGION_DETAIL_NAME
             , USER_SEX
             , F_GET_CODE_NAME('SEX',USER_SEX) USER_SEX_NAME
             , USER_AGE
             , USER_PHONE


        FROM tb_user

         WHERE 1=1

           AND USER_ID       = #{userId}
           AND USER_TYPE     = #{userType}
           AND USER_PASSWORD = password(#{userPassword})
           AND REG_GBN      != '003'

    </select>

    <!-- USER ID CHECK-->
    <select id="userFindIdSelect" parameterType="string" resultType="string">

        SELECT USER_ID

          FROM tb_user

         WHERE 1=1

           AND USER_ID = #{userId}
           AND REG_GBN != '003'
    </select>

</mapper>