<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.join.service.impl.JoinMapper">

    <!-- 회원가입-->
    <insert id="userJoinInsert" parameterType="joinVO">

        INSERT INTO tb_user (
                                USER_ID
                                , USER_PASSWORD
                                , USER_TYPE
                                , USER_NAME
                                , USER_SEX
                                , USER_AGE
                             )
                     VALUES (
                                #{userId}
                                , password(#{userPassword})
                                , #{userType}
                                , #{userName}
                                , #{userSex}
                                , #{userAge}
                             )

    </insert>

    <!-- 로그인-->
    <select id="userLoginSelect" parameterType="joinVO" resultType="egovMap">

        SELECT USER_ID
             , USER_TYPE
             , F_GET_CODE_NAME('UST',USER_TYPE) USER_TYPE_NAME
             , USER_NAME
             , USER_SEX
             , F_GET_CODE_NAME('SEX',USER_SEX) USER_SEX_NAME
             , USER_AGE

          FROM tb_user

         WHERE 1=1

           AND USER_ID       = #{userId}
           AND USER_PASSWORD = password(#{userPassword});

    </select>

</mapper>