<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.member.service.impl.MemberMapper">

    <!-- 회원 리스트-->
    <select id="memberListSelect" parameterType="joinVO" resultType="egovMap">

        SELECT USER_ID
             , USER_TYPE
             , F_GET_CODE_NAME('UST',USER_TYPE) USER_TYPE_NAME
             , USER_NAME
             , USER_REGION
             , F_GET_CODE_NAME('RGN',USER_REGION) USER_REGION_NAME
             , USER_SEX
             , F_GET_CODE_NAME('SEX',USER_SEX) USER_SEX_NAME
             , USER_AGE
             , REG_DT
          FROM tb_user
         WHERE 1=1

        <if test="userId != null and !userId.equals('')" >
            AND (LOWER(USER_ID) LIKE LOWER('%${userId}%') OR LOWER(USER_NAME) LIKE LOWER('%${userId}%'))
        </if>
        <if test="userRegion != null and !userRegion.equals('')" >
            AND USER_REGION = #{userRegion}
        </if>
        <if test="userAge != null and !userAge.equals('')" >
            AND USER_AGE = #{userAge}
        </if>
        <if test="userType != null and !userType.equals('')" >
            AND USER_TYPE = #{userType}
        </if>
        <if test="userSex != null and !userSex.equals('')" >
            AND USER_SEX = #{userSex}
        </if>

        ORDER BY REG_DT DESC
        LIMIT #{recordCountPerPage} OFFSET #{firstIndex};
    </select>

    <!-- 회원 리스트 TOTAL COUNT 조회 -->
    <select id="memberListTotalCnt" parameterType="joinVO" resultType="int">

        SELECT COUNT(*) cnt
        FROM tb_user
        WHERE 1=1

        <if test="userId != null and !userId.equals('')" >
            AND (LOWER(USER_ID) LIKE LOWER('%${userId}%') OR LOWER(USER_NAME) LIKE LOWER('%${userId}%'))
        </if>
        <if test="userAge != null and !userAge.equals('')" >
            AND USER_AGE = #{userAge}
        </if>
        <if test="userRegion != null and !userRegion.equals('')" >
            AND USER_REGION = #{userRegion}
        </if>
        <if test="userType != null and !userType.equals('')" >
            AND USER_TYPE = #{userType}
        </if>
        <if test="userSex != null and !userSex.equals('')" >
            AND USER_SEX = #{userSex}
        </if>

    </select>

    <!-- 회원 비밀번호 수정 -->
    <update id="memberPasswordUpdate" parameterType="joinVO">

        UPDATE tb_user
           SET USER_PASSWORD = password(#{userPassword})
         WHERE USER_ID = #{userId};
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="memberDelete" parameterType="joinVO">

        DELETE
          FROM tb_user
         WHERE USER_ID = #{userId};
    </delete>


    <select id="memberGetInfoSelect" parameterType="string" resultType="egovMap" >

        SELECT USER_ID
             , USER_NAME

          FROM tb_user

         WHERE 1=1

           AND USER_ID = #{userId}

    </select>


</mapper>