<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotBadSmellMonitoring.member.service.impl.MemberMapper">

    <!-- 회원 리스트-->
    <select id="memberListSelect" parameterType="joinVO" resultType="egovMap">

        SELECT USER_ID
             , USER_TYPE
             , F_GET_CODE_NAME('UST',USER_TYPE) USER_TYPE_NAME
             , USER_NAME
             , USER_REGION_MASTER
             , USER_REGION_DETAIL
             , CASE LENGTH(USER_PHONE)
               WHEN 11 THEN CONCAT(LEFT(USER_PHONE, 3), '-', MID(USER_PHONE, 4, 4), '-', RIGHT(USER_PHONE, 4))
               END USER_PHONE
             , F_GET_CODE_NAME('REM',USER_REGION_MASTER) USER_REGION_MASTER_NAME
             , F_GET_CODE_NAME('RGD',USER_REGION_DETAIL) USER_REGION_DETAIL_NAME
             , CONCAT(F_GET_CODE_NAME('REM',USER_REGION_MASTER),
               ' ',F_GET_CODE_NAME('RGD',USER_REGION_DETAIL) )        USER_REGION_NAME
             , USER_SEX
             , F_GET_CODE_NAME('SEX',USER_SEX) USER_SEX_NAME
             , USER_AGE
             , REG_DT
          FROM tb_user
         WHERE 1=1

        <if test="userId != null and !userId.equals('')" >
            AND (LOWER(USER_ID) LIKE LOWER('%${userId}%') OR LOWER(USER_NAME) LIKE LOWER('%${userId}%'))
        </if>
        <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
            AND USER_REGION_MASTER = #{userRegionMaster}
        </if>
        <if test="userAge != null and !userAge.equals('')" >
            AND USER_AGE LIKE '%${userAge}%'
        </if>
        <if test="userSex != null and !userSex.equals('')" >
            AND USER_SEX = #{userSex}
        </if>
        <if test="userType != null and !userType.equals('')" >
            AND USER_TYPE = #{userType}
        </if>


        ORDER BY REG_DT DESC
        LIMIT #{recordCountPerPage} OFFSET #{firstIndex};
    </select>

    <!-- 회원 리스트 TOTAL COUNT 조회 -->
    <select id="memberListTotalCnt" parameterType="joinVO" resultType="int">

        SELECT COUNT(*) cnt
        FROM tb_user
        WHERE 1=1

        <if test="userId != null and !userId.equals('')" >
            AND (LOWER(USER_ID) LIKE LOWER('%${userId}%') OR LOWER(USER_NAME) LIKE LOWER('%${userId}%'))
        </if>
        <if test="userRegionMaster != null and !userRegionMaster.equals('')" >
            AND USER_REGION_MASTER = #{userRegionMaster}
        </if>
        <if test="userAge != null and !userAge.equals('')" >
            AND USER_AGE LIKE '%${userAge}%'
        </if>
        <if test="userSex != null and !userSex.equals('')" >
            AND USER_SEX = #{userSex}
        </if>
        <if test="userType != null and !userType.equals('')" >
            AND USER_TYPE = #{userType}
        </if>


    </select>

    <!-- 회원 비밀번호 수정 -->
    <update id="memberPasswordUpdate" parameterType="joinVO">

        UPDATE tb_user
           SET USER_PASSWORD = password(#{userPassword})
         WHERE USER_ID = #{userId};
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="memberDelete" parameterType="joinVO">

        DELETE
          FROM tb_user
         WHERE USER_ID = #{userId};
    </delete>

    <!-- 사용자 정보 -->
    <select id="memberGetInfoSelect" parameterType="string" resultType="egovMap" >

        SELECT t1.USER_ID                               USER_ID
             , t1.USER_NAME                             USER_NAME
             , t1.USER_REGION_MASTER                    USER_REGION_MASTER
             , t1.USER_REGION_MASTER_NAME               USER_REGION_MASTER_NAME
             , t1.USER_REGION_DETAIL                    USER_REGION_DETAIL
             , t1.USER_REGION_DETAIL_NAME               USER_REGION_DETAIL_NAME
             , CASE LENGTH(t1.USER_PHONE)
               WHEN 11 THEN CONCAT(LEFT(t1.USER_PHONE, 3), '-', MID(t1.USER_PHONE, 4, 4), '-', RIGHT(t1.USER_PHONE, 4))
                END USER_PHONE
          FROM (
                 SELECT USER_ID
                      , USER_NAME
                      , USER_PHONE
                      , USER_REGION_MASTER
                      , F_GET_CODE_NAME('REM', USER_REGION_MASTER) USER_REGION_MASTER_NAME
                      , USER_REGION_DETAIL
                      , F_GET_CODE_NAME('RGD', USER_REGION_DETAIL) USER_REGION_DETAIL_NAME

                 FROM tb_user

                 WHERE 1 = 1

                   AND USER_ID = #{userId}
                ) t1
    </select>

    <select id="todayRegisterListSelect" parameterType="hashmap" statementType="PREPARED" resultType="egovMap">
        <foreach collection="dataList" item="item" separator="UNION ALL">
        <![CDATA[
        SELECT CASE
                   WHEN STATUS_001 = '001_OK' THEN 'O'
                   ELSE CASE
                            WHEN DATE_FORMAT(NOW(), '%H:%i:%s') > '09:00:00'
                                THEN 'X'
                            ELSE '-' END END AS STATUS_001,


               CASE
                   WHEN STATUS_002 = '002_OK' THEN 'O'
                   ELSE CASE
                            WHEN DATE_FORMAT(NOW(), '%H:%i:%s') > '17:00:00'
                                THEN 'X'
                            ELSE '-' END END AS STATUS_002,

               CASE
                   WHEN STATUS_003 = '003_OK' THEN 'O'
                   ELSE CASE
                            WHEN DATE_FORMAT(NOW(), '%H:%i:%s') > '23:00:00'
                                THEN 'X'
                            ELSE '-' END END AS STATUS_003

        FROM (
                 SELECT IF(EXISTS(SELECT *
                                  FROM tb_smell_register
                                  WHERE SMELL_REGISTER_TIME = '001'
                                    AND DATE_FORMAT(REG_DT, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                                    AND REG_ID = #{item.userId}), '001_OK', '001_NO') AS STATUS_001,
             IF(EXISTS(SELECT *
                       FROM tb_smell_register
                       WHERE SMELL_REGISTER_TIME = '002'
                         AND DATE_FORMAT(REG_DT, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                         AND REG_ID = #{item.userId}), '002_OK', '002_NO') AS STATUS_002,
             IF(EXISTS(SELECT *
                       FROM tb_smell_register
                       WHERE SMELL_REGISTER_TIME = '003'
                         AND DATE_FORMAT(REG_DT, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                         AND REG_ID = #{item.userId}), '003_OK', '003_NO') AS STATUS_003

            ) AS A
        ]]>
        </foreach>
    </select>
</mapper>